body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

canvas {
    border: 5px solid rgb(255, 255, 255);
    align-items: center;
    position: relative;
    margin-left: 185px;
    margin-top: 20px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.534);
}